html {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    display: flex;
    min-width: 100%;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(236, 231, 231);
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-buttons-container {
    display: flex;
    min-width: 100%;
}

.top-left-links {
    display: flex;
    flex-shrink: 1;
    margin-top: 15px;
    margin-left: 30px;
}

.top-right-links {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
}

#apps-grid {
    height: 20px;
    max-height: 20%;
    margin: 5px 20px 0px 10px;
}

#account-icon {
    border-radius: 30px;
    height: 120px;
    max-height: 30%;
}

.header-buttons {
    margin-top: 5px;
    margin-right: 10px;
    color: #222;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
}

.center {
    display: flex;
    margin: 0% auto;
    justify-content: center;
}

.center-buttons {
    display: inline-block;
    margin: auto;
}

.logo-container {
    margin: 257px 0% 20px 0%;
}

.logo-image {
    margin-bottom: 25px;
}

.search-container {
    max-width: 100px;
    display: flex;
}

.search-icon {
    position: relative;
    left: 30px;
}

.search-bar {
    border-style:solid;
    border-radius: 20px;
    min-width: 600px;
    min-height: 50px;
    border-color: rgba(218, 218, 218, 0.8);
    border-width: thin;
    box-shadow: none;
    padding-left: 40px;
}

.search-bar:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    color: #202124;
}

.query-button-container {
    display: flex;
}

input[type="image"]:hover {
    background-color: whitesmoke;
    cursor: pointer;
    user-select: none;
}

input[type="submit"] {
    box-shadow: none;
    background-color: rgb(245, 245, 248);
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 30px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

input[type="search"]:focus {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    outline: none;
}

.left-links {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0px 50px 0px 20px;
    flex-wrap: wrap;
}

.right-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.center-links {
    display: flex;
    width: 100%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    margin: 0px 15px 0px 15px;
    color: rgb(107, 102, 102);
}

.footer-text {
    color: rgb(107, 102, 102);
}


@media only screen and (max-width: 776px) {
    .search-container {
        display: flex;
        max-width: 70vw;
    }

    .search-bar {
        border-radius: 20px;
        min-width: 78vw;
        min-height: 45px;
    }

    footer {
        min-height: 100px;
        flex-direction: column;
    }

    .center-links {
        position: absolute;
    }

    .left-links {
        margin: 40px 0px 5px 0px;
        flex-direction: row;
        justify-content: center;
    }
    
    .right-links {
        flex-direction: row;
        justify-content: center;
    }
    
}

@media only screen and (max-height: 776px) and (min-height: 50px) {
    .logo-container {
        margin: 33vh 0% 20px 0%;
    }
}